#Kavish Nag
#24070126085
#AIML B1

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error,r2_score
from sklearn.linear_model import LinearRegression,Ridge,Lasso

In [ ]:
df = pd.read_csv('/content/ice_cream_selling_data.csv')
df.head()

   Temperature (C)  Ice Cream Sales (units)
0        -4.662263                41.842986
1        -4.316559                34.661120
2        -4.213985                39.383001
3        -3.949661                37.539845
4        -3.578554                32.284531

In [ ]:
X=df.iloc[:,0].values.reshape(-1,1)
y=df.iloc[:,1].values
print(X)
print(y)

[[-4.66226268]
 [-4.31655945]
 [-4.21398477]
 [-3.94966109]
 [-3.57855372]
 [-3.4557117 ]
 [-3.10844012]
 [-3.08130332]
 [-2.67246083]
 [-2.65228679]
 [-2.65149803]
 [-2.288264  ]
 [-2.11186969]
 [-1.81893761]
 [-1.66034773]
 [-1.32637898]
 [-1.17312327]
 [-0.77333004]
 [-0.6737528 ]
 [-0.14963487]
 [-0.0361565 ]
 [-0.03389529]
 [ 0.0086077 ]
 [ 0.14924457]
 [ 0.68878091]
 [ 0.69359887]
 [ 0.87490503]
 [ 1.02418081]
 [ 1.24071162]
 [ 1.35981267]
 [ 1.74000001]
 [ 1.85055193]
 [ 1.99931037]
 [ 2.0751006 ]
 [ 2.31859124]
 [ 2.471946  ]
 [ 2.78483646]
 [ 2.83176021]
 [ 2.95993209]
 [ 3.02087431]
 [ 3.21136614]
 [ 3.27004407]
 [ 3.31607252]
 [ 3.33593241]
 [ 3.61077848]
 [ 3.70405744]
 [ 4.13086796]
 [ 4.13353379]
 [ 4.89903151]]
[41.84298632 34.66111954 39.38300088 37.53984488 32.28453119 30.00113848
 22.63540128 25.36502221 19.22697005 20.27967918 13.2758285  18.12399121
 11.21829447 10.01286785 12.61518115 10.95773134  6.68912264  9.39296866
  5.21016261  4.67364254  0.32862552  0.89760319  3.16560001  1.93141603
  2.57678224  4.62568946  0.78997365  2.31380636  1.29236081  0.95311531
  3.78257014  4.8579878   8.94382321  8.17073494  7.41209403 10.33663062
 15.99661997 12.56823739 21.34291574 20.11441346 22.8394055  16.98327874
 25.14208223 26.10474041 28.91218793 17.84395652 34.53074274 27.69838335
 41.51482194]

In [ ]:
X_train,X_test,y_train,y_test= train_test_split(X,y,test_size=0.2,random_state=42)

In [ ]:
ridge_model = Ridge(alpha = 10)
ridge_model.fit(X_train,y_train)
y_pred = ridge_model.predict(X_test)

In [ ]:
temp_df =pd.DataFrame({'Actual':y_test,'Predicted':y_pred})
temp_df

      Actual  Predicted
0  10.012868  19.157227
1  17.843957  13.029279
2  27.698383  12.552761
3  28.912188  13.132776
4   9.392969  17.997091
5   2.313806  16.002692
6   0.789974  16.168319
7   4.625689  16.369484
8   4.857988  15.085806
9   4.673643  17.305080

In [ ]:
r2_score = ridge_model.score(X_test,y_test)
r2_score

-0.5665886936594831

In [ ]:
mae = mean_absolute_error(y_test,y_pred)
mae

11.715847424539048

In [ ]:
print(f"Alpha = {10}")
print(pd.Series(ridge_model.coef_,index = [df.columns[0]]))

Alpha = 10
Temperature (C)   -1.109533
dtype: float64

In [ ]:
alphas = np.logspace(-2,3,50)
coeff_path = []

for alpha in alphas:
  ridge = Ridge(alpha=alpha)
  ridge.fit(X_train, y_train)
  coeff_path.append(ridge.coef_)

  print(f"Alpha = {alpha:.4} | Coefficients = {ridge.coef_}")

Alpha = 0.01 | Coefficients = [-1.14654857]
Alpha = 0.01265 | Coefficients = [-1.14653843]
Alpha = 0.016 | Coefficients = [-1.14652561]
Alpha = 0.02024 | Coefficients = [-1.14650938]
Alpha = 0.0256 | Coefficients = [-1.14648887]
Alpha = 0.03237 | Coefficients = [-1.14646291]
Alpha = 0.04095 | Coefficients = [-1.14643009]
Alpha = 0.05179 | Coefficients = [-1.14638857]
Alpha = 0.06551 | Coefficients = [-1.14633607]
Alpha = 0.08286 | Coefficients = [-1.14626966]
Alpha = 0.1048 | Coefficients = [-1.14618567]
Alpha = 0.1326 | Coefficients = [-1.14607946]
Alpha = 0.1677 | Coefficients = [-1.14594515]
Alpha = 0.2121 | Coefficients = [-1.14577531]
Alpha = 0.2683 | Coefficients = [-1.14556056]
Alpha = 0.3393 | Coefficients = [-1.14528904]
Alpha = 0.4292 | Coefficients = [-1.1449458]
Alpha = 0.5429 | Coefficients = [-1.14451194]
Alpha = 0.6866 | Coefficients = [-1.14396365]
Alpha = 0.8685 | Coefficients = [-1.14327088]
Alpha = 1.099 | Coefficients = [-1.14239584]
Alpha = 1.389 | Coefficients = [-1.14129095]
Alpha = 1.758 | Coefficients = [-1.13989648]
Alpha = 2.223 | Coefficients = [-1.13813756]
Alpha = 2.812 | Coefficients = [-1.13592053]
Alpha = 3.556 | Coefficients = [-1.13312866]
Alpha = 4.498 | Coefficients = [-1.12961694]
Alpha = 5.69 | Coefficients = [-1.12520618]
Alpha = 7.197 | Coefficients = [-1.1196763]
Alpha = 9.103 | Coefficients = [-1.11275917]
Alpha = 11.51 | Coefficients = [-1.10413148]
Alpha = 14.56 | Coefficients = [-1.09340847]
Alpha = 18.42 | Coefficients = [-1.08014012]
Alpha = 23.3 | Coefficients = [-1.06381185]
Alpha = 29.47 | Coefficients = [-1.04385279]
Alpha = 37.28 | Coefficients = [-1.01965535]
Alpha = 47.15 | Coefficients = [-0.99061019]
Alpha = 59.64 | Coefficients = [-0.95615999]
Alpha = 75.43 | Coefficients = [-0.91587297]
Alpha = 95.41 | Coefficients = [-0.86953243]
Alpha = 120.7 | Coefficients = [-0.81723123]
Alpha = 152.6 | Coefficients = [-0.75945259]
Alpha = 193.1 | Coefficients = [-0.69711268]
Alpha = 244.2 | Coefficients = [-0.63154216]
Alpha = 308.9 | Coefficients = [-0.56439472]
Alpha = 390.7 | Coefficients = [-0.49749061]
Alpha = 494.2 | Coefficients = [-0.43262399]
Alpha = 625.1 | Coefficients = [-0.3713761]
Alpha = 790.6 | Coefficients = [-0.31497391]
Alpha = 1e+03 | Coefficients = [-0.26421814]