#Kavish Nag
#24070126085
#AIML B1

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression,Ridge,Lasso
from sklearn.metrics import mean_absolute_error, r2_score

In [ ]:
df = pd.read_csv("/content/boston.csv")
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [ ]:
X=df.iloc[:,0:13]
y=df.iloc[:,13]

In [ ]:
X_train,X_test,y_train,y_test= train_test_split(X,y,test_size=0.2,random_state=42)

#Linear

In [ ]:
Lr = LinearRegression()
Lr.fit(X_train,y_train)
y_pred = Lr.predict(X_test)
print("r2_score:",r2_score(y_test,y_pred))
print("Mean Absolute error:",mean_absolute_error(y_test,y_pred))

r2_score: 0.6687594935356326
Mean Absolute error: 3.189091965887837

#Ridge

In [ ]:
ridge_model = Ridge(alpha = 10)
ridge_model.fit(X_train,y_train)
y_pred = ridge_model.predict(X_test)

In [ ]:
temp_df =pd.DataFrame({'Actual':y_test,'Predicted':y_pred})
temp_df

     Actual  Predicted
173    23.6  28.544191
274    32.4  34.935532
491    13.6  13.304677
72     22.8  24.567880
452    16.1  19.478766
..      ...        ...
412    17.9  -2.076016
436     9.6  14.516365
411    17.2  14.447297
86     22.5  21.914078
75     21.4  23.216464

[102 rows x 2 columns]

In [ ]:
r2_score_ridge = ridge_model.score(X_test,y_test)
r2_score_ridge

0.6638882305470706

In [ ]:
mae = mean_absolute_error(y_test,y_pred)
mae

3.1250946910202675